@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        background: #e8e8ee;
    }

    input:focus, textarea:focus, select:focus {
        outline: none
    }

}

@layer components {
  .noScrollY {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
  }

  .noScrollY::-webkit-scrollbar {
    display: none;
  }

  .noScrollX {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: scroll;
  }

  .noScrollX::-webkit-scrollbar {
    display: none;
  }

  .neumorphism {
    border-radius: 4px;
    background: #e8e8ee;
    box-shadow:  5px 5px 10px #c5c5ca,
                 -5px -5px 10px #ffffff;
  }
}
